* {
  font-family: "Poppins", sans-serif;
  font-size: 12pt;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #18181B;
}
nav {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #0f1016;
}

nav .header-link {
  margin-right: auto;
}
nav svg {
  fill: white;
}
#sidebar-active {
  display: none;
}
.open-sidebar-button, .close-sidebar-button {
  padding: 0px 20px;
  display: none;
}

@media (max-width: 500px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    width: 100%px;
    background-color: #0f1016;
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
   right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    background: #0f1016;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}